# Dependency directories
node_modules/
frontend/node_modules/
backend/node_modules/

# Production builds
frontend/build/

# Environment files
.env
backend/config/.env
frontend/.env
*.env

# OS files
.DS_Store
Thumbs.db
